<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<!-- Render AngularJS views  -->
	<section ng-view></section>

	<!-- JS -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>	
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
	<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/lib/components-font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap-social/bootstrap-social.css">

	<!-- Load the index module -->
	<script type="text/javascript" src="/index/index.client.module.js"></script>
	<script type="text/javascript" src="/index/config/index.client.routes.js"></script>

	<!-- Load the projects module -->
	<script type="text/javascript" src="/projects/projects.client.module.js"></script>
	<script type="text/javascript" src="/projects/config/projects.client.routes.js"></script>

	<!-- Load the blog module -->
	<script type="text/javascript" src="/blog/blog.client.module.js"></script>
	<script type="text/javascript" src="/blog/config/blog.client.routes.js"></script>



	<!-- Bootstrap AngularJS application -->
	<script type="text/javascript" src="/application.js"></script>
</body>
</html>
