<!DOCTYPE html>
<html lang="en">
<head>
  <title>brobinsonone Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    .social-icons {
      padding: 5px;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/#!/" style="color:white"><b>brobinsonone</b></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right social-icons">
        <li class="active"><a ng-href="/#!/blog" style="color:white;"><b>Blog</b></a></li>
        <li><a ng-href="/#!/projects" style="color:white"><b>Projects</b></a></li>
        <li><a ng-href="/#!/contact" style="color:white"><b>Contact</b></a></li>
        <li><a ng-href="/#!/resume" style="color:white"><b>Resume</b></a></li>
        <li><a href="http://github.com/brobusf21" class="btn btn-social-icon btn-github"><span class="fa fa-github"></span></a></li>
        <li><a href="http://bitbucket.org/brobusf21" class="btn btn-social-icon btn-bitbucket"><span class="fa fa-bitbucket"></span></a></li>
        <li><a href="http://twitter.com/BrandonRob21" class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a></li>
        <li><a href="http://linkedin.com/in/brobusf21" class="btn btn-social-icon btn-linkedin"><span class="fa fa-linkedin"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Categories</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">All</a></li>
        <li><a href="/#!/blog/technology">Technology</a></li>
        <li><a href="/#!/blog/cycling">Cycling</a></li>
        <li><a href="/#!/blog/lifestyle">Lifestyle</a></li>
        <li><a href="/#!/blog/business">Business</a></li>
        <li><a href="/#!/blog/product-reviews">Product Reviews</a></li>
      </ul><br>
    </div>

    <div class="col-sm-9">
      <h4><small>RECENT POSTS</small></h4>
      <hr>
      <h2>My Bike Build</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Brandon Robinson, Oct 7, 2016.</h5>
      <h5><span class="label label-danger">Cycling</span> <span class="label label-primary">Lifestyle</span></h5><br>
      <p>I grew up riding bikes...from the early middle school days till now. It wasnt till this year that I started riding bike consistently again. Back in March, I purchased my first carbon road bike here in San Francisco @ Mikes Bikes and I've been riding it every since. On average, I ride 4 times a week, totally over 60 miles (check out my Strava stats!). The more I ride, the more I feel inclined to make the bike's performace even better...<a href="/#!/blog/cycling/bike-build">Read more</a></p>
      <br>
      
      <hr>
      <h2>Deploying Web Applications Using Heroku</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Brandon Robinson, Sep 24, 2016.</h5>
      <h5><span class="label label-success">Technology</span></h5><br>
      <p>I always though that creating a website and deploying it using Heroku would be a simple task at hand; boy was I wrong. A couple of years ago, I started building out a website for new car sales in the Bay Area. I grabbed ahold of dealership inventory and started marketing invidivual cars that I thought were cool. It wasnt long that I wanted to make my project public so I tried using Heroku...<a href="/#!/blog/technology/heroku">Read more</a></p>
      <br>

      <hr>
      <h2>Why I am Moving to Austin?</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Brandon Robinson, Sep 24, 2016.</h5>
      <h5><span class="label label-primary">Lifestyle</span></h5><br>
      <p>I've lived in San Francisco for over 6 years now and with little time, I have seen rapid growth and change. To be more specific, San Francisco's skyline doesn't even look the same to me: more high rise condos, the Salesforce tower, etc. Nevertheless, I am going to miss this place. <a href="/#!/blog/lifestyle/moving-to-austin">Read more</a></p>
      <br>

      <hr>
      <h2>SRAM E-Tap Road Kit</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Brandon Robinson, Sep 24, 2016.</h5>
      <h5><span class="label label-danger">Cycling</span> <span class="label label-danger">Product Review</span></h5><br>
      <p>I've lived in San Francisco for over 6 years now and with little time, I have seen rapid growth and change. To be more specific, San Francisco's skyline doesn't even look the same to me: more high rise condos, the Salesforce tower, etc. Nevertheless, I am going to miss this place. <a href="/#!/blog/lifestyle/moving-to-austin">Read more</a></p>
      <hr>

      <h4>Leave a Comment:</h4>
    <div id="disqus_thread"></div>
      <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//brobinson-io.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        
    </div>
  </div>
</div>

</body>
</html>

